{% extends 'layouts/blank.html' %}

{% block content %} 

<div class="max-w-6xl mx-auto p-12">
    <h1>Shop</h1>
    <div class="mx-auto py-2">
        <div class="flex items-center flex-wrap">

            <product-item class="block w-full md:w-1/3 xl:w-1/4 md:p-2">
                <a href="" class="block aspect-square bg-gray-100 rounded-xl">
                    <img class="rounded-xl hover:shadow-lg" src="">
                </a>
                <div class="pt-3">
                    Product Name               
                </div>
                <p class="pt-1 text-gray-400">
                    $9.99
                </p>
            </product-item> 

            <product-item class="block w-full md:w-1/3 xl:w-1/4 md:p-2">
                <a href="" class="block aspect-square bg-gray-100 rounded-xl">
                    <img class="rounded-xl hover:shadow-lg" src="">
                </a>
                <div class="pt-3">
                    Product Name               
                </div>
                <p class="pt-1 text-gray-400">
                    $9.99
                </p>
            </product-item> 

            <product-item class="block w-full md:w-1/3 xl:w-1/4 md:p-2">
                <a href="" class="block aspect-square bg-gray-100 rounded-xl">
                    <img class="rounded-xl hover:shadow-lg" src="">
                </a>
                <div class="pt-3">
                    Product Name               
                </div>
                <p class="pt-1 text-gray-400">
                    $9.99
                </p>
            </product-item> 

        </div>
    </div>
</div>

{% endblock %}
